<div class="footer-container container">
    <article class="footer-card card">
        <div class="card-container">
            <div class="footer-contacts d-flex">
                <a class="footer-contacts__round vk" href="#" title="vk link" target="_blank">
                    <div class="footer-contacts__round-container">
                        <img src="../../public/icons/vk.svg" alt="vk" title="vk link">
                    </div>
                </a>
                <a class="footer-contacts__round telegram" href="#" title="telegram link" target="_blank">
                    <div class="footer-contacts__round-container">
                        <img src="../../public/icons/telegram.svg" alt="telegram" title="telegram link">
                    </div>
                </a>
                <a class="footer-contacts__round whatsapp" href="#" title="whatsapp link" target="_blank">
                    <div class="footer-contacts__round-container">
                        <img src="../../public/icons/whatsapp.svg" alt="whatsapp" title="whatsapp link">
                    </div>
                </a>
                <a class="footer-contacts__round instagram" href="#" title="instagram link" target="_blank">
                    <div class="footer-contacts__round-container">
                        <img src="../../public/icons/instagram.svg" alt="instagram" title="instagram link">
                    </div>
                </a>
            </div>
        </div>
    </article>
</div>
<div class="footer-copyright">
    <div class="footer-copyright__container container d-flex justify-between align-center">
        <a>© Ахмед гора | 2023</a>
        <a>Политика конфиденциальности</a>
        <a>Created By @ZubeckY</a>
    </div>
</div>