<div class="footer-container container">
    <article class="footer-card card">
        <div class="card-container">
            <div class="footer-contacts d-flex align-center justify-between">
                <div class="d-flex align-center">
                    <div class="footer-contacts__title card-title">Телефон:</div>
                    <a class="footer-contacts__text card-text"
                       href="tel:+7-(800)-555-55-55">+7-(800)-555-55-55</a>
                </div>
                <div class="d-flex align-center" style="margin-top: 10px;">
                    <div class="footer-contacts__title card-title">Email:</div>
                    <a class="footer-contacts__text card-text"
                       href="mailto:ahkmed_gora@info.ru">ahkmed_gora@info.ru</a>
                </div>
                <aside class="footer-contacts__social d-flex align-center">
                    <div class="footer-contacts__title card-title">Наши соц. сети:</div>

                    <a class="footer-contacts__round vk" href="#" title="vk link" target="_blank">
                        <div class="footer-contacts__round-container">
                            <img src="../../public/icons/vk.svg" alt="vk" title="vk link">
                        </div>
                    </a>
                    <a class="footer-contacts__round telegram" href="#" title="telegram link" target="_blank">
                        <div class="footer-contacts__round-container">
                            <img src="../../public/icons/telegram.svg" alt="telegram" title="telegram link">
                        </div>
                    </a>
                    <a class="footer-contacts__round whatsapp" href="#" title="whatsapp link" target="_blank">
                        <div class="footer-contacts__round-container">
                            <img src="../../public/icons/whatsapp.svg" alt="whatsapp" title="whatsapp link">
                        </div>
                    </a>
                    <a class="footer-contacts__round instagram" href="#" title="instagram link" target="_blank">
                        <div class="footer-contacts__round-container">
                            <img src="../../public/icons/instagram.svg" alt="instagram" title="instagram link">
                        </div>
                    </a>
                </aside>
            </div>
        </div>
    </article>
</div>
<aside class="footer-copyright">
    <div class="footer-copyright__container container d-flex justify-between align-center">
        <a>© Ахмед гора | 2023</a>
        <a>Политика конфиденциальности</a>
        <a>Created By @ZubeckY</a>
    </div>
</aside>