<div class="footer-container container">
    <article class="footer-card card">
        <div class="card-container">
        </div>
    </article>
</div>
<div class="footer-copyright">
    <div class="footer-copyright__container container d-flex flex-row justify-between align-center">
        <a>© Ахмед гора | 2023</a>
        <a>Политика конфиденциальности</a>
        <a>Created By @ZubeckY</a>
    </div>
</div>
<style>
.footer {
    margin-top: 40px;
    padding: 10px 0;
}

.footer-card {
    background: var(--link);
}
.footer-copyright {
    margin-top: 15px;
}
</style>