/* gallery */
.gallery {
    margin-top: 20px;
}

.gallery-items {
    display: grid;
    gap: 0;
    grid-gap: 0;
    width: 100%;
    height: 391px;
    max-width: 1200px;
    grid-template: 1fr 1fr 1fr 1fr/1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.gallery-item {
    padding: 4px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.gallery-item__big-block {
    display: block;
    width: 100%;
    height: 100%;
    padding-bottom: 15px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: var(--box-shadow);
    border-radius: var(--radius-regular);
    background-image: url("../../public/alcove/2.jpg");
}

.gallery-item__big-block .card-title {
    width: 100%;
    padding: 15px;
    background: var(--blur-gradient);
    backdrop-filter: blur(15px);
}

.gallery-item__big-block .card-title * {
    display: block;
    max-width: 450px;
    font-size: 18px;
}

.gallery-item__small-block {
    width: 100%;
    height: 100%;
}

.gallery-item__small-block img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius-regular);
    box-shadow: var(--box-shadow);
}

.gallery-item:first-child {
    grid-column: 1/9;
    grid-row: 1/5;
}

.gallery-item:nth-child(2) {
    grid-column: 9/11;
    grid-row: 1/3;
}

.gallery-item:nth-child(3) {
    grid-column: 11/13;
    grid-row: 1/3;
}

.gallery-item:nth-child(4) {
    grid-column: 9/11;
    grid-row: 3/5;
}

.gallery-item:nth-child(5) {
    grid-column: 11/13;
    grid-row: 3/5;
}

@media (max-width: 820px) {
    .gallery-items {
        display: block;
    }

    .gallery-item:nth-child(1) {
        display: block;
        width: 100%;
        height: 100%;
    }

    .gallery-item:nth-child(2),
    .gallery-item:nth-child(3),
    .gallery-item:nth-child(4),
    .gallery-item:nth-child(5) {
        display: none;
    }
}

/* holidayWithUs */
.holidayWithUs {
    margin-top: 40px;
    min-height: 640px;
}

.holidayWithUs-container {
    height: 100%;
    justify-content: space-between;
}

.holidayWithUs article {
    width: 47%;
    padding: 10px;
}

.holidayWithUs p {
    margin-top: 15px;
    font-size: 18px;
    line-height: 26px;
    white-space: pre-line;
    color: var(--dark-text);
}

.holidayWithUs-gallery {
    position: relative;
    display: flex;
    height: 100%;
}

.holidayWithUs-gallery__item {
    transition: all ease-in-out .15s;
}

.holidayWithUs-gallery__item:first-child {
    display: block;
    position: relative;
    width: 100%;
}

.holidayWithUs-gallery__item:nth-child(2) {
    display: block;
    position: absolute;
    width: 100%;
    top: 30px;
    left: -40px;
}

.holidayWithUs-gallery__item:nth-child(3) {
    display: block;
    position: absolute;
    width: 100%;
    left: 30px;
    bottom: -40px;
}

.holidayWithUs-gallery__item img {
    display: block;
    width: 100%;
    border-radius: var(--radius-regular);
}

.holidayWithUs .primary-text {
    font-size: 23px;
}

.holidayWithUs-button {
    width: 100%;
    height: 50px;
    max-width: 350px;
    margin-top: 20px;
    background: var(--light) !important;
}

.holidayWithUs-button:hover {
    color: var(--light) !important;
    background: var(--secondary) !important;
}

@media (max-width: 830px) {
    .holidayWithUs-container {
        flex-direction: column;
    }

    .holidayWithUs article {
        width: 100%;
    }

    .holidayWithUs-gallery {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }

    .holidayWithUs-gallery__item {
        margin-top: 15px;
        position: unset !important;
    }
}

/* callUs */
.callUs {
    width: 100%;
    height: 600px;
    margin-top: 50px;
}

.callUs-container {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: var(--radius-regular);
    background-image: url("../../public/mountain.jpg");
}

.callUs-card {
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
    overflow: hidden;
    backdrop-filter: blur(40px);
    padding: 35px 30px !important;
    box-shadow: var(--box-shadow);
    background: var(--blur-gradient) !important;
}

.callUs-card__container {
    justify-content: space-between;
}

.callUs-card__text {
    width: 100%;
    max-width: 45%
}

.callUs-card .card-title {
    font-size: 23px;
    line-height: 28px;
    white-space: pre-line;
    text-transform: uppercase;
}

.callUs-card .card-text {
    margin-top: 10px;
    font-size: 18px;
    line-height: 22px;
    white-space: pre-line;
}

@media (max-width: 1100px) {
    .callUs {
        height: auto;
    }

    .callUs-card__container {
        justify-content: center;
    }

    .callUs-card {
        margin: 30px 0;
    }

    .callUs-card__text {
        max-width: none;
        margin-bottom: 15px;
    }
}

/* submitForm */
.submitForm {
    width: 100%;
    height: 250px;
    max-width: 345px;
}

.submitForm-inputGroup {
    margin: 15px 0 0 !important;
}

.submitForm-button {
    width: 100%;
    height: 45px;
    margin: 20px 0 15px;
    text-transform: uppercase;
}

/* reviews */
.reviews {
    margin-top: 60px;
}

.reviews .primary-text {
    font-size: 23px;
    line-height: 30px;
    white-space: pre-line;
}

.reviews-ItemsWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.reviews-ItemsWrapper .card-light-text {
    margin-top: 10px;
    line-height: 20px;
}

.reviews-ItemsWrapper .card-text {
    color: var(--dark-text);
    margin-left: 15px;
}

.reviews-item__card {
    display: block;
    width: 30%;
    margin-bottom: 15px;
}

.reviews-item__card:first-child {
    margin-right: 15px;
}

.reviews-item__card + .reviews-item__card {
    margin-right: 15px;
}

.reviews-item__stars {
    margin-top: 2px;
    margin-left: -5px;
}

.rating_star {
    display: block;
    width: 25px;
    height: 25px;
}

@media (max-width: 820px) {
    .reviews-item__card {
        width: 100%;
    }
    .reviews-ItemsWrapper {
        flex-direction: column;
    }
}